<div class="client-count-wrp mt-2 p-0">
    <div class="container">
        <div class="heading">
            <h1 class="text-center">Dashboard</h1>
        </div>
        <div class="client-count-wrp-inner">
            <div class="cards">
                <h4>{{userCount}}</h4>
                <p>Usuarios</p>
            </div>
            <!--card-->
            <div class="cards">
                <h4>{{postsCount}}</h4>
                <p class="text-center">Posts</p>
            </div>
        </div>
    </div>

</div>